<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://localhost:2000/stylesheets/style.css">
</head>
<body>

    <div id="list">

    </div>
    <input type="text" id="chat_input" placeholder="Your message">
    <button id="send_message">Send message</button>


<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/jquery"></script>
<script src="http://localhost:2000/javascripts/main.js"></script>
</body>
</html>